# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
package-lock.json
node_modules
.github
public
.env
./web-data-viz/public
./web-data-viz/DOCUMENTOS_DE_APOIO
.env.dev